/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  #cartext {
    position: relative;
    bottom: 150px;
  }
  #welc {
    font-size: 15px;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 321px) 
and (max-device-width : 768px) {
  #cartext {
    position: relative;
    bottom: 150px;
  }
  #welc {
    font-size: 16px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1024px) {
  #cartext {
    position: relative;
    bottom: 350px;
  }
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
  /* Styles */
  #cartext {
    position: relative;
    bottom: 410px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/*allows us to scroll slightly above sections*/
.scroll {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

/*home image*/

.block_article {
    width:;
    height: 100%;
    background-size: cover;
    text-align: center;
}

.block_article span {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.3em;
}