/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  #cartext {
    position: relative;
    bottom: 193px;
  }
  #welc {
    font-size: 15px;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 321px) 
and (max-device-width : 768px) {
  #cartext {
    position: relative;
    bottom: 260px;
  }
  #welc {
    font-size: 16px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1024px) {
  #cartext {
    position: relative;
    bottom: 480px;
  }
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
  /* Styles */
  #cartext {
    position: relative;
    bottom: 390px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}